@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
body{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "europa",sans-serif;
}
.container{
    flex-grow:1;
    margin:0 auto;
    position: relative;
    width:auto;
}
.navbar{
    padding: 1.2rem 0;
    box-shadow:none;
    z-index:auto;
    background-color:#ffff;
    min-height:2.5rem;
    position:relative;
    
}
.navbar-brand .navbar-item .logo{
    height:2rem;
}

.button.is-primary.is-outlined{
    background-color: transparent;
    border-color: #6E07F3;
    color: #6E07F3;
}
.button.is-primary.is-outlined:hover{
    background-color: #6E07F3;
    color: #fff;
    border-color:#6E07F3
}
.has-text-centered {
    text-align: center !important;
}
.hero{
    background-color: #fff;
    color:#000;
    padding-top: 2rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-body{
    padding:2rem;
}
.hero.is-white .title {
    color: #141c3a;
    
}
span{
    opacity: 0;
    transition: all 2s ease;
    
}
span.fade{
    opacity: 1;
  
}
.hero.is-white .subtitle {
    color: rgba(10, 10, 10, 0.9);
    
}
.avatar{
    border-radius: 40%;
    height: 20rem;
   
    margin:3rem;
}
/* .is-bottom{
height: 30rem;
text-align: center;
background-color: #6E07F3;
} */
.section.is-long{
padding:1rem;
padding-bottom: 13rem;
padding-top: 10rem;

}
.section.is-primary {
    /* background-color: #181D31; */
    background-image:linear-gradient(125deg,#1B262C,#14274E,#3F4E4F,#14274E,#000);
    background-size: 400%;
    animation:bganimation 15s infinite;
    color: white;
}
.section.is-primary .title {
    color: white;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.logo-img{
    z-index: 999;
    height: 200px !important;
    width: 80px;
}
.section.skills {
    margin-top: -10rem;
    padding-bottom: 1rem;
}
.section.skills .box .content .columns .column {
    padding: 70px 45px;
}
.section.skills .box .content .columns .column {
    border-bottom: 0px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
    padding: 60px 35px;
}
.has-text-primary {
    color: #6E07F3 !important;
}
.section.skills .box .content .columns .column ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}